asgiref==3.8.1
astroid==3.3.9
attrs==25.3.0
chardet==5.2.0
diff-match-patch==20241021
dill==0.3.9
Django==5.1.4
django-crispy-forms==2.3
django-debug-toolbar==5.1.0
django-filter==24.3
django-import-export==4.3.3
django-simple-history==3.7.0
djangorestframework==3.15.2
drf-yasg==1.21.10
inflection==0.5.1
isort==6.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
mccabe==0.7.0
packaging==24.2
pillow==11.1.0
platformdirs==4.3.7
pylint==3.3.6
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
reportlab==4.3.1
rpds-py==0.24.0
sqlparse==0.5.2
tablib==3.7.0
tomlkit==0.13.2
tzdata==2024.2
uritemplate==4.1.1
